{% extends 'base_template/mainTemplate.html' %}
{% load static %}

{% block title %}
    بازیابی رمز عبور
{% endblock title %}

{% block content %}

    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li>بازیابی رمز عبور</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customer_login mt-60">
        <div class="container">
            <div class="row">
                <!--register area start-->
                <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                    <div class="account_form register">
                        <h2>بازیابی رمز عبور</h2>
                        <form action="{% url 'Account:ForgotPassword' %}" method="post">
                            {% csrf_token %}
                            <p>
                                <label>تلفن همراه </label>
                                {{ form.mobile_number }}
                                {{ form.errors.mobile_number }}
                            </p>
                            <p>
                                {{ form.captcha }}
                            </p>
                            <div class="login_submit">
                                <button type="submit">بازیابی</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div>
{% endblock %}